<h1>Maurya Clinic</h1>
<h2>
<p>Find and book your health appointments online.</p>
</h2>
<h3>
	Take Appointments Directly from Your Clinic Website!</h3>

<p>
	Ever wondered how your clinic website can work beyond providing information? Beyond “just being a website”? With the “New Practo.com ABS Widget”, you can now allow your patients to book appointments with you directly from your clinic’s website!

Your patients can simply click on the widget that you have added to your clinic’s website, view available time slots and book instant confirmed appointments with you in seconds! Yes! It’s that simple!</p>